<div class="centered-box">
    <div class="car-profile-container">
        <div class="sidebar">
            <h1 class="title has-text-white">
                Car Models
            </h1>

            <div class="cars-list">
                <a class="cars-list-item has-text-white" *ngFor="let car of cars" [routerLink]="['/profiles', car._id]">
                    <p>
                        {{car.modelYear}} {{car.carName}}
                    </p>
                </a>
            </div>

            <div class="field is-grouped">
                <p class="button-location">
                    <a class="button is-white is-medium" routerLink="/">
                        Main Menu
                    </a>
                    <a class="button is-success is-normal" routerLink="/create-car-profile">
                        Create Car Profile
                    </a>
                </p>
            </div>
        </div>

        <div class="car-profile">
            <h1 class="title has-text-white">
                Car Profile
            </h1>
            <div class="view-profile-container" *ngIf="profiles">
                <div class="line-one has-text-weight-bold is-size-3">
                    {{profiles.modelYear}} {{profiles.carName}}
                </div>
                <div class="line-config has-text-white">
                    <p>
                        &nbsp;&nbsp; Lap Time: {{profiles.lapTimeMinutes}} Minutes / {{profiles.lapTimeSeconds}} Seconds
                    </p>
                </div>
                <div class="line-config has-text-white">
                    <p>
                        &nbsp;&nbsp; Zero To Sixty: {{profiles.zeroToSixty}} Seconds
                    </p>
                </div>
                <div class="line-config has-text-white">
                    <p>
                        &nbsp;&nbsp; Price of Tested Car: {{profiles.testedCardPrice}}$
                    </p>
                </div>
                <div class="line-config has-text-white">
                    <p>
                        &nbsp;&nbsp; Top Speed: {{profiles.topSpeedMPH}} mph &nbsp;--&nbsp; Horsepower: {{profiles.HP}}
                        hp
                    </p>
                </div>
                <div class="line-config has-text-white">
                    <p>
                        &nbsp;&nbsp; Car Weight: {{profiles.weightLB}} lbs &nbsp;--&nbsp; Ratio: {{profiles.LBPerHP}}
                        lb/hp
                    </p>
                </div>
                <div class="line-config has-text-white">
                    <p>
                        &nbsp;&nbsp; Track Tire Company Used: {{profiles.tireCompanyUsed}}
                    </p>
                </div>

                <div class="update-delete-button">
                    <a class="button is-success is-medium" [routerLink]="['/update-profile', selectedProfileId]">
                        Update Car Profile
                    </a>
                    <a class="button is-danger is-normal" (click)="onDeleteProfileClick()">
                        Delete Car Profile
                    </a>
                </div>
            </div>
            <div class="field is-horizontal">
                <a class="rank has-text-white is-size-5">
                    Rank Cars By:
                </a>
                <div class="field is-grouped">
                    <p class="button-location">
                        <a class="button is-white is-normal" routerLink="/">
                            Fastest 0-60
                        </a>
                        <a class="button is-success is-normal" routerLink="/">
                            Horsepower
                        </a>
                        <a class="button is-white is-normal" routerLink="/">
                            Top Speed
                        </a>
                        <a class="button is-success is-normal" routerLink="/">
                            Price
                        </a>
                        <a class="button is-white is-normal" routerLink="/">
                            Lap Time
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>