<div class="centered-box">
    <div class="car-profile-container">
        <div class="sidebar">
            <h1 class="title has-text-white">
                Car Models
            </h1>

            <div class="cars-list">
                <a class="cars-list-item has-text-white" *ngFor="let car of cars" [routerLink]="['/lapTime', car._id]">
                    <p>
                        {{car.modelYear}} {{car.carName}}
                    </p>
                </a>
            </div>

            <div class="field is-grouped">
                <p class="button-location">
                    <a class="button is-white is-medium" routerLink="/car-profile">
                        Back
                    </a>
                </p>
            </div>
        </div>

        <div class="car-profile">
            <h1 class="title has-text-white">
                <p>
                    This ranks the fastest lap times
                </p>
                <p>
                    in ascending order.
                </p>
            </h1>
            <div class="view-profile-container" *ngIf="profiles">
                <div class="line-one has-text-weight-bold is-size-3">
                    {{profiles.modelYear}} {{profiles.carName}}
                </div>
                <div class="line-config has-text-white">
                    <p>
                        &nbsp;&nbsp; Lap Time: {{profiles.lapTimeMinutes}} Minutes / {{profiles.lapTimeSeconds}} Seconds
                    </p>
                </div>
                <div class="line-config has-text-white">
                    <p>
                        &nbsp;&nbsp; Zero To Sixty: {{profiles.zeroToSixty}} Seconds
                    </p>
                </div>
                <div class="line-config has-text-white">
                    <p>
                        &nbsp;&nbsp; Price of Tested Car: {{profiles.testedCardPrice}}$
                    </p>
                </div>
                <div class="line-config has-text-white">
                    <p>
                        &nbsp;&nbsp; Top Speed: {{profiles.topSpeedMPH}} mph &nbsp;--&nbsp; Horsepower: {{profiles.HP}}
                        hp
                    </p>
                </div>
                <div class="line-config has-text-white">
                    <p>
                        &nbsp;&nbsp; Car Weight: {{profiles.weightLB}} lbs &nbsp;--&nbsp; Ratio: {{profiles.LBPerHP}}
                        lb/hp
                    </p>
                </div>
                <div class="line-config has-text-white">
                    <p>
                        &nbsp;&nbsp; Track Tire Company Used: {{profiles.tireCompanyUsed}}
                    </p>
                </div>

            </div>
        </div>
    </div>
</div>